/************************************ SECTION 1 */
.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 2rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.section-1 .card {
  width: 290px;
  border: 1px solid var(--border-color);
  transition: border 300ms ease-in-out;
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 500px;
  width: 100%;
  transition: box-shadow 300ms ease-in-out;
}

.section-1 .card .top {
  position: relative;
  height: 332px;
  overflow: hidden;
}

.section-1 .card .top::before,
.section-1 .card .top::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: var(--overlay-color-light);
  z-index: 1;
  top: 0;
  bottom: 0;
}

.section-1 .card .top::before {
  transition: left 500ms ease-in-out;
  left: -50%;
}

.section-1 .card .top::after {
  transition: right 500ms ease-in-out;
  right: -50%;
}

.section-1 .card:hover .top::before {
  left: 0;
}

.section-1 .card:hover .top::after {
  right: 0;
}

.section-1 .card .top img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.05);
  transition: transform 500ms ease-in-out;
}

.section-1 .card:hover img {
  transform: scale(1);
}

.section-1 .card .bottom {
  position: relative;
}

.section-1 .card .bottom .info {
  position: absolute;
  top: -22px;
  border-radius: 8px;
  right: 50%;
  transform: translateX(50%);
  background-color: #fff;
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  font-size: 13px;
  text-wrap: nowrap;
  padding: 0 1.25rem;
  box-shadow: 0 0.5rem 4rem 0 var(--shadow-color);
  color: var(--muted-color);
  z-index: 2;
}

.section-1 .card .bottom .info > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.section-1 .card .bottom .info i {
  color: var(--main-color);
}

.section-1 .card .bottom {
  padding: 45px 40px 38px;
}

.section-1 .card .bottom h3 {
  font-size: 24px;
  line-height: 1.3;
  transition: color 200ms ease-in-out;
}

.section-1 .card .bottom p {
  margin-top: 22px;
  font-size: 18px;
  color: var(--muted-color);
  line-height: 1.8;
}

.section-1 .card:hover {
  box-shadow: 0 0.5rem 4rem 0 var(--shadow-color);
}

.section-1 .card:hover h3 {
  color: var(--main-color);
}

@media (min-width: 992px) {
  .section-1 {
    flex-direction: row;
  }

  .section-1 .card {
    width: 290px;
  }
  
  .section-1 .card .top {
    height: 190px;
  }
}

@media (min-width: 1200px) {
  .section-1 .card {
    width: 370px;
  }

  .section-1 .card .top {
    height: 246px;
  }
}