:root {
  --main-color: #4D5FE3;
  --muted-color: #717580;
  --muted-light-color: #aeb2c2;
  --muted-background: #f1f2f6;
  --dark-color: #1C1E27;
  --second-color: #FFD45F;
  --border-color: #E0E2E9;
  --border-color-light: #f7f7f7;
  --shadow-color: #1C1E271a;
  --overlay-color: #1c1e2788;
  --overlay-color-light: #1c1e2744;

  --border-raduis: 0.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: var(--dark-color);
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

button:hover::before {
  bottom: 0;
}

button > * {
  position: relative;
}

.button > * {
  letter-spacing: 2px;
  transition: color 400ms ease-in-out;
}

.button:hover > * {
  color: #fff;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  bottom: 100%;
  background-color: var(--dark-color);
  transition: bottom 500ms ease-in-out;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.mini-title {
  font-size: 18px;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.large-title {
  color: var(--dark-color);
  font-weight: bold;
  font-size: 50px;
}

/************************************ HEADER */
header {
  background-color: #fff;
  box-shadow: 0 0.5rem 4rem 0 var(--shadow-color);
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: -75px;
}

header > hr {
  border: none;
  border-bottom: 1px solid var(--border-color);
}

.header__top {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top__logo {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.header__top__left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__top__left__socials {
  display: none;
  gap: 0.6rem;
}

.header__top__left__socials a {
  background-color: #F1F2F6;
  color: var(--muted-color);
  display: flex;
  justify-content: center;
  border-radius: 100%;
  align-items: center;
  height: 2.25rem;
  width: 2.25rem;
  position: relative;
  transition: color 200ms ease-in-out;
  font-size: 1rem;
}

.header__top__left__socials a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  border-radius: 100%;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
}

.header__top__left__socials a:hover {
  color: #fff;
}

.header__top__left__socials a:hover::before {
  transform: scale(1);
}

.header__top__left__socials i {
  position: relative;
}

.header__top__left__contacts {
  display: none;
  align-items: center;
}

.header__top__left__contacts li {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  gap: 1rem;
}

.header__top__left__contacts li:not(:first-of-type) {
  border-left: 1px solid var(--border-color);
}

.header__top__left__contacts li:last-of-type {
  padding-right: 0;
}

.header__top__left__contacts i {
  font-size: 2rem;
  color: var(--main-color);
}

.header__top__left__contacts div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header__top__left__contacts p {
  color: var(--muted-color);
  font-size: 14px;
}

.header__top__left__contacts a {
  transition: color 200ms ease-in-out;
}

.header__top__left__contacts a:hover {
  color: var(--main-color);
}

.header__bottom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* DESKTOP NAV */
.header__bottom__left__nav__desktop {
  display: none;
  gap: 3.5rem;
  height: 100%;
}

.header__bottom__left__nav__desktop > li {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__bottom__left__nav__desktop a {
  color: var(--muted-color);
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.header__bottom__left__nav__desktop .active, .header__bottom__left__nav__desktop > li:hover > a {
  color: var(--main-color);
}

.header__bottom__left__nav__desktop__submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 var(--border-raduis) var(--border-raduis);
  box-shadow: 0 0.5rem 4rem 0 var(--shadow-color);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease-in-out;
}

.header__bottom__left__nav__desktop > li:hover .header__bottom__left__nav__desktop__submenu {
  opacity: 100%;
  pointer-events: all;
}

.header__bottom__left__nav__desktop__submenu li:not(:first-of-type) {
  border-top: 1px solid var(--border-color-light);
}

.header__bottom__left__nav__desktop__submenu a {
  min-width: 220px;
  display: block;
  padding: 1rem;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}

.header__bottom__left__nav__desktop__submenu a:hover {
  background-color: var(--main-color);
  color: #fff;
}

/* MOBILE NAV */
#header__nav__mobile__menu__opener {
  display: flex;
  color: var(--main-color);
  font-size: 20px;
  transition: color 300ms ease-in-out;
}

#header__nav__mobile__menu__opener:hover {
  color: var(--dark-color);
}

#header__nav__mobile__wrapper {
  position: fixed;
  z-index: 200;
  background-color: var(--dark-color);
  width: 20rem;
  max-width: 100svw;
  height: 100svh;
  top: 0;
  left: -10rem;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.header__nav__mobile__overlay {
  position: fixed;
  background-color: #1C1E2744;
  z-index: -1;
  inset: 0;
}

.header__nav__mobile__logo {
  position: relative;
  padding: 1rem 1.5rem;
  font-weight: bold;
  font-size: 2rem;
  color: var(--second-color);
  display: flex;
  justify-content: space-between;
}

#header__nav__mobile__menu__closer {
  width: 2rem;
  height: 2rem;
  color: #fff;
  font-size: 1rem;
}

#header__nav__mobile__menu__closer:hover {
  color: #ff7e98;
}

.header__nav__mobile__menu {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  z-index: 1;
}

.header__nav__mobile__menu a {
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.header__nav__mobile__menu > li:not(:first-child),
.header__nav__mobile__submenu > li {
  border-top: 1px solid #444;
}

.header__nav__mobile__menu a:hover {
  background-color: var(--main-color);
  color: #fff;
}

.header__nav__mobile__submenu {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: height 400ms ease-in-out;
}

.header__nav__mobile__menu > li:hover .header__nav__mobile__submenu {
  height: 102.5px;
}

.header__nav__mobile__submenu a {
  padding-left: 3.5rem;
}

.header__nav__mobile__auth {
  color: #fff;
  font-size: 14px;
  padding: 0.5rem 2rem;
}

.header__nav__mobile__auth a {
  transition: color 300ms ease-in-out;
}

.header__nav__mobile__auth a:hover {
  color: var(--second-color);
}

.header__nav__mobile__auth a:not(:first-of-type)::before {
  content: "/";
  margin: 0 0.6rem;
  color: var(--muted-color);
}

.header__nav__mobile__contacts {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 2rem;
  color: var(--main-color);
  gap: 1.25rem;
}

.header__nav__mobile__contacts li {
  align-items: center;
  display: flex;
  gap: 1.25rem
}

.header__nav__mobile__contacts i {
  font-size: 1.25rem;
}

.header__nav__mobile__contacts a {
  color: #fff;
  transition: color 300ms ease-in-out;
}

.header__nav__mobile__contacts a:hover {
  color: var(--second-color);
  text-decoration: underline;
}

.header__nav__mobile__socials {
  display: flex;
  gap: 0.5rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.header__nav__mobile__socials a {
  color: var(--muted-color);
  display: flex;
  justify-content: center;
  border-radius: 100%;
  align-items: center;
  height: 2.25rem;
  width: 2.25rem;
  position: relative;
  transition: color 200ms ease-in-out;
  font-size: 1rem;
}

.header__nav__mobile__socials a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  border-radius: 100%;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
}

.header__nav__mobile__socials a:hover {
  color: #fff;
}

.header__nav__mobile__socials a:hover::before {
  transform: scale(1);
}

.header__nav__mobile__socials i {
  position: relative;
}

.header__bottom__right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__bottom__right__auth {
  display: none;
}

.header__bottom__right__auth a {
  color: var(--muted-color);
  font-size: 14px;
  transition: color 300ms ease-in-out;
}

.header__bottom__right__auth a:hover {
  color: var(--main-color);
}

.header__bottom__right__auth a:not(:first-of-type)::before {
  content: "/";
  margin: 0 0.6rem;
  color: var(--border-color);
}

.header__bottom__right__buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__bottom__right__buttons__cart {
  width: 25px;
  height: 25px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 300ms ease-in-out;
}

.header__bottom__right__buttons__cart:hover {
  color: var(--main-color);
}

.header__bottom__right__buttons__search {
  background-color: var(--main-color);
  font-size: 12px;
  color: #fff;
  height: 40px;
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************************ SHOWCASE */
.showcase {
  background-image: linear-gradient(var(--overlay-color), var(--overlay-color)), url("../images/showcase.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
  display: flex;
}

.showcase h1 {
  color: #fff;
  margin: 0;
  font-size: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/************************************ FOOTER */
footer {
  background-image: linear-gradient(#1c1e27d9, #1c1e27d9), url("../images/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--muted-light-color);
  font-size: 15px;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 1rem;
  gap: 3rem;
}

.footer__top__logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.footer__top__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__top__links h3 {
  color: #fff;
  font-size: 18px;
}

.footer__top__links ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__top__links a {
  transition: color 200ms ease-in-out;
}

.footer__top__links a:hover {
  color: var(--second-color);
}

.footer__top__socials {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

.footer__top__socials a {
  background-color: #0d0f13;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  align-items: center;
  height: 55px;
  width: 55px;
  position: relative;
  transition: color 200ms ease-in-out;
  font-size: 1.2rem;
  color: #fff;
}

.footer__top__socials a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  border-radius: 100%;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
}

.footer__top__socials a:hover::before {
  transform: scale(1);
}

.footer__top__socials i {
  position: relative;
}

.footer__bottom {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #303138;
  text-align: center;
  line-height: 1.5;
  padding: 0 1rem;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }

  .footer__top {
    flex-direction: row;
    padding: 6rem 0;
    gap: 4rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  header {
    top: -80px;
  }

  .header__top {
    height: 80px;
  }

  .header__top__logo {
    width: initial;
    text-align: initial;
  }

  .header__top__left__socials {
    display: flex;
  }

  .header__bottom__right__auth {
    display: block;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  header {
    top: -100px;
  }

  .header__top {
    height: 100px;
  }

  .header__top__left__contacts {
    display: flex;
  }

  .footer__top__socials {
    width: 100%;
    justify-content: end;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .header__bottom__left__nav__desktop {
    display: flex;
  }

  #header__nav__mobile__wrapper {
    display: none;
  }

  #header__nav__mobile__menu__opener {
    display: none;
  }

  .footer__top__links {
    width: auto;
  }

  .footer__top__socials {
    width: auto;
  }
}